@import url('https://fonts.googleapis.com/css?family=Rubik');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    color: #442C2E;
}

input[type=text] {
    width: 100%;
    height: 50px;
    background-color: white;
    color: #828282;
    border: 1px solid rgba(209,209,209,0.56);
    border-radius: 3px;
    padding-left: 15px;
    outline-color: #0067f5;
    margin-top: 15px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.video--input__container {
    padding: 1rem;
    margin: 1rem 0;
}

.video--player__container {
    display: flex;
}

#video-player {
    height: 480px;
    width: 60%;
}

.video--list {
    width: 40%;
}

.video--item {
    display: flex;
    border: 1px solid black;
    /* box-shadow: 2px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    cursor: pointer;
}

.video--item img {
    width: 60%;
}